# Virtual environments
venv/
myvenv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
*.env
